body{
    text-align:center;
}
p{
    font-size: 14px;
    line-height:18px;
    padding:10px;
}
.para-space{
    margin-top:-18px;
}
.big-box{
    height:95%;
    width:100%;
    border:1px solid lightgray;
    background-color:white;
    margin-top: 20px;
}
.spaces{
    margin-top:20px;
}
.box{
    height:85%;
    width:100%;
    border:1px solid lightgray;
    background-color:white;
    padding:10px;
}