.green{
    background-color:#09885a;
    height:60px;
}
.purple{
    background-color:#5a57bb;
    height:60px;
}
.orange{
    background-color:#ff9900;
    height:60px;
}
.blue{
    background-color:#4a86e8;
    height:90px;
}
.extra{
    background-color:#5a57bb;
    height:90px;
}