/* Write your CSS here */
.z{
    padding-left: 2%;
    padding-right: 2%;
}
.x{
    background-color:purple;
    display:inline-block;
}
.y{
    background-color:blue;
    display:inline-block;
}
.s{
    margin-right:2%;
}
